body{
  margin: 0;
  background: whitesmoke;
}

/* Travel Form Section */

.travel-form-section {
  width: 60%;
  background-color: #cdcdcd;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.travel-form {
  width: 50%;
  margin: auto;
  background-color: ;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 0;
}

.travel-form-display {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

/* CrudFirebase Section */
.firebase-display {
  width: 50%;
  margin: auto;
  background-color: #cdcdcd;
  padding: 20px 40px 30px;
  margin-top: 20px;
}

.time-entry {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.time {
  color: #776ad4;
}


